.view-chess-view {
  height: 100%;
  width: 100%;
  margin: 2.5% 0 2.5% 0;

}

.view-chess-view .view-content {
  display: flex;
  font-size: 14pt;
  flex-wrap: wrap;
}

.views-small {
  display: inline-block;
  border: 1px solid black;
  text-align: justify;
  width: 35%;
  flex-grow: 1;
}

.views-small-left {;
  margin:  1%  11% 1% 2%;
  padding: 1% 0 1% 2.5%;
}

.views-small-right {
  margin:  1%  2% 1% 11%;
  padding: 1% 0 1% 2.5%;
}

.views-big {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  width: 90%;
  margin:  5% 2%  5% 2.5%;
  padding: 1% 2% 1% 2%;
  flex-grow: 1;
}

.load-more {
  display: inline-block;
  text-align: left;
  margin:  2% 0  2% 34%;
  width: 100%;
  flex-grow: 1;
}


