.b-carousel__slide {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*background-size: 50% 50%;*/
  height: 220px"
}

.b-example__label {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 250%;
  color: whitesmoke;
}
